<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
  </ol>
</nav>

{{> alert}}

{{#each rows}}
<form
  action="/edituser/{{this.id}}"
  method="POST"
  class="row g-3 needs validation"
  novalidate
>
{{!-- import the created partial --}}
{{> userForm}}
</form>
{{/each}}
